@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1648529659622') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuechi:before {
  content: "\e612";
}

.icon-zhanghaoguanli:before {
  content: "\e607";
}

.icon-guanliyuan:before {
  content: "\e519";
}

.icon-xuexiao:before {
  content: "\e62f";
}

