#genModal i {
  color: red;
}
#user {
  height: 100%;
}
#user>#searchListShow {
  height: calc(100% - 40px - 2.4rem - 80px - 70px);
  overflow-y: auto;
}
#addUser>button {
  margin: 1.2rem;
  height: 40px;
  margin-left: 0;
}
#navigator {
  height: 70px;
}
